html, body {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 6px;
}

:root {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.p-component {
  font-family: inherit;
}

.p-button-label {
  user-select: none;
  -webkit-user-select: none;
}

.p-scrollpanel-content {
  /* fix phantom scrollbar */
  overflow-x: hidden;
}

.p-scrollpanel-bar-x {
  /* fix phantom scrollbar */
  visibility: hidden;
}

.p-panel-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* .p-datatable-scrollable {
  padding-bottom: 30px;
} */

.viewport-wrapper {
  height: 100vh;
  padding: 8px 8px 0px;
}

.p-toast {
  /* fixes toast displaying beneath other elements */
  z-index: 10000;
}

.flex-box {
  display: flex;
  height: 100%;
  overflow: hidden;
  /* width: 100%; */
  gap: 6px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.form-text-input {
  padding: 8;
  width: 100%;
}

#view-guest-screen {
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  gap: 10px;
  /* grid-auto-flow: column; */
  grid-auto-rows: minmax(100%, auto);
  grid-template-columns: 260px minmax(300px, 5fr) minmax(540px, 4fr);
}

#searchbar {
  display: flex;
  width: 100%;
}

#search-results {
  flex: 3;
  min-width: 0px;
}

#dashboard {
  height: 100%;
  overflow: hidden;
}

#right-panel {
  min-width: 0px;
}

#create-pass {
  flex: 2;
  /* overflow-y: hidden; */
}

#search-input {
  flex: 1;
}

#crud-button {
  flex-shrink: 0;
  user-select: none;
}