html {
  font-size: 20px;
}

:root {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.p-component {
  font-family: inherit;
}

.p-scrollpanel-content {
  /* fix phantom scrollbar */
  overflow-x: hidden;
}

.p-scrollpanel-bar-x {
  /* fix phantom scrollbar */
  visibility: hidden;
}

.p-panel-content {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.viewport-wrapper {
  height: 87vh;
}

.p-toast {
  /* fixes toast displaying beneath other elements */
  z-index: 10000;
}

.form-input-label {
  margin-top: 3px;
  margin-bottom: 3px;
}

.required {
  display: inline-block;
  margin-right: 16px;
}

.h-full {
  height: 100%;
}

.flex-box {
  display: flex;
  padding-top: 2px;
  justify-content: top;
  gap: 6px;
}

.flex-col {
  flex-direction: column;
  gap: 10px;
}

.center-box {
  width: 400px;
  margin: 0 auto;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.form-text-input {
  padding: 8;
  width: 100%
}

#searchbar {
  display: flex;
  width: 100%;
}

#search-results {
  flex: 3;
  height: 100%
}

#search-input {
  flex: 1;
}

#crud-button {
  flex-shrink: 0;
  user-select: none;
}